* {
    box-sizing: border-box;
}

.wrapper {
    width: 1100px;
    margin: 30px auto;
    border: 1px solid white;
}

.block {
    background-color: rgb(255, 187, 0);
    padding: 10px 5px;
    margin-top: 20px;
}

.block a {
    text-decoration: none;
    color: white;
}

.block a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
}

main {
    width: 660px;
    padding: 20px;
}

table, th, td {
    width: 450px;
    height: 50px;
    text-align: center;
    border-collapse: collapse;
    border: 5px solid black;
}

.grey-color {
    background-color: rgb(200, 200, 200);
}

.right {
    width: 400px;
    margin-left: 20px;
    border: 1px solid white;
}

p {
    width: 580px;
    text-justify: justify;
}

footer {
    text-align: center;
    background-color: rgb(255, 187, 0);
    padding: 10px 0;
    margin-top: 20px;
    color: white;
}